<div class="container">
  <div class="row">
    <div class="form-group">
      <table
        class="table table-{1:striped|sm|bordered|hover|inverse} table-inverse table-responsive"
      >
        <thead class="thead-inverse|thead-default">
          <tr>
            <th>Nombre</th>
            <th>Cantidad</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let art of articulos?.solicitudArticulos">
            <td>
              {{art.articulo.descripcion}}
            </td>
            <td>
              {{art.cantidad}}
            </td>
          </tr>
        </tbody>
      </table>
      <label for="precio">Cotizacion</label>
      <input
        type="text"
        name="precio"
        id="precio"
        class="form-control"
        placeholder=""
        aria-describedby="helpId"
        [(ngModel)]="nuevoPrecio"
      />
      <button
        type="button"
        class="btn btn-primary|secondary|success|danger|warning|info|light|dark|link"
        data-toggle="button"
        aria-pressed="false"
        autocomplete="off"
        (click)="enviarActualizacion()"
      >
        Enviar
      </button>
    </div>
  </div>
</div>
